p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #E73B2B;
    border-color: white;
}

body {
    font-family: helvetica;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #EBEBEB;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #EBEBEB;
    border: 1px solid #ecf0f1;
    font-family: helvetica;
}



h1 {
    font-size: 28px;
    # color: #E73B2B;
    font-family: helvetica;
    # font-variant-caps: all-petite-caps;
    # padding: 10px; 
    background-color: #EBEBEB; 
}

h1.title {
    font-size: 38px;
    color: #E73B2B;
    background: #EBEBEB;
    font-family: helvetica;
    padding: 0px; 
}


h3 {
    font-size: 24px;
    color: #E73B2B;
    font-family: helvetica;
}

h4 {
    font-size: 18px;
    # color: #E73B2B;
    font-family: helvetica;
    font-style: italic;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #ffffff;
    background-color: #E73B2B;
}

#TOC > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 10%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #0fa1e0;
  margin-left: -10px;
}

